.block-5, .normal-text {
    font-weight: 500;
    font-size: 36px;
}

.block-5 p {
    font-size: 20px;
    color: $gray;
}

.block-5 input {
    width: 500px;
    height: 60px;
    color: $gray;
    border: none;
    font-size: 20px;
}

.block-5 h1 {
    font-size: 36px;
}

.block-5 {
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(318px, 1fr));
    margin-top: 50px;

    &__submit-container {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__submit-container input {
        width: 280px;
        height: 56px;
        font-size: 18px;
        background-color: $mainColor;
        color: $white;
        border-radius: 30px;
        margin-right: 15px;
        align-items: center;
    }
    &__submit-container p {
        font-size: 12px;
    }
    &__insta-input  {
        height: 100px;
    }
    &__info-callback {
        max-width: 600px;
    }
}