@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-Medium.eot');
    src: local('../fonts/VisueltPro/VisueltPro-Medium'),
        url('../fonts/VisueltPro/VisueltPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-Medium.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-Medium.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-Regular.eot');
    src: local('../fonts/VisueltPro/VisueltPro-Regular'),
        url('../fonts/VisueltPro/VisueltPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-Regular.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-Regular.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-Bold.eot');
    src: local('../fonts/VisueltPro/VisueltPro-Bold'),
        url('../fonts/VisueltPro/VisueltPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-Bold.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-Bold.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-ExtraLight.eot');
    src: local('../fonts/VisueltPro/VisueltPro-ExtraLight'),
        url('../fonts/VisueltPro/VisueltPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-ExtraLight.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-Thin.eot');
    src: local('../fonts/VisueltPro/VisueltPro-Thin'),
        url('../fonts/VisueltPro/VisueltPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-Thin.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-Thin.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-Italic.eot');
    src: local('../fonts/VisueltPro/VisueltPro-Italic'),
        url('../fonts/VisueltPro/VisueltPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-Italic.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-Italic.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-ExtraLightItalic.eot');
    src: local('../fonts/VisueltPro/VisueltPro-ExtraLightItalic'),
        url('../fonts/VisueltPro/VisueltPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-ExtraLightItalic.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-BoldItalic.eot');
    src: local('../fonts/VisueltPro/VisueltPro-BoldItalic'),
        url('../fonts/VisueltPro/VisueltPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-BoldItalic.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-Black.eot');
    src: local('../fonts/VisueltPro/VisueltPro-Black'),
        url('../fonts/VisueltPro/VisueltPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-Black.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-Black.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-MediumItalic.eot');
    src: local('../fonts/VisueltPro/VisueltPro-MediumItalic'),
        url('../fonts/VisueltPro/VisueltPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-MediumItalic.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-Light.eot');
    src: local('../fonts/VisueltPro/VisueltPro-Light'),
        url('../fonts/VisueltPro/VisueltPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-Light.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-Light.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-BlackItalic.eot');
    src: local('../fonts/VisueltPro/VisueltPro-BlackItalic'),
        url('../fonts/VisueltPro/VisueltPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-BlackItalic.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-LightItalic.eot');
    src: local('../fonts/VisueltPro/VisueltPro-LightItalic'),
        url('../fonts/VisueltPro/VisueltPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-LightItalic.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-LightItalic.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Visuelt Pro';
    src: url('../fonts/VisueltPro/VisueltPro-ThinItalic.eot');
    src: local('../fonts/VisueltPro/VisueltPro-ThinItalic'),
        url('../fonts/VisueltPro/VisueltPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/VisueltPro/VisueltPro-ThinItalic.woff2') format('woff2'),
        url('../fonts/VisueltPro/VisueltPro-ThinItalic.woff') format('woff'),
        url('../fonts/VisueltPro/VisueltPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}